@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace, Helvetica, sans-serif, Arial;
}

p {
    font-family: Helvetica;
}
.header {
    background: linear-gradient(to left, #04070F, #0A1624);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: white;
  }
  
  .header li a:hover {
    background-color: #f4f4f4;
    color: #0A1624;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 25px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  @media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 30px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 9%;
  }
  .header .menu-icon {
    display: none;
  }
}

.logo {
    margin-left: 9%;
    color: white;
}

#hero-section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 100%;
    width: 100%;
}
.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#particles-js {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height:  100vh;
    z-index: -1;
    background-image: url('img/universe.jpg');
    background-size: cover;
}

#hero-box {
    position: absolute;
    font: 'Roboto Mono';
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    font-weight: 100;
    font-size: 20px;
    color: white;
}

#about-section {
    position: relative;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    color: black;
    padding-bottom: 20px;
}
@media screen and (max-width: 321px) and (min-width: 319px) {
  #hero-text {
    padding-top: 70px;
  }
  #about-section h2 {
    margin-top: -30px;
  }
}
@media screen and (max-width: 361px) and (min-width: 358px) {
  #about-section {
    margin-top: 10px;
  }
}
@media screen and (max-width: 376px) and (min-width: 373px) {
  #about-section {
    padding-top: 230px;
  }
  .header {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 376px) and (min-width: 373px) and (min-height: 810px) {
  #about-section {
    padding-top: 270px;
  }
}
@media screen and (max-width: 385px) and (min-width: 383px) {
  #about-section {
    margin-top: 0px;
  }
}
@media screen and (max-width: 413px) and (min-width: 412px) {
  #about-section {
    margin-top: -30px;
  }
}
@media (max-width: 412px) and (min-width: 409px) {
  #about-section {
    margin-top: 60px;
  }
  .header {
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 415px) and (min-width: 414px) {
  #about-section {
    margin-top: -20px;
  }
}
@media screen and (max-width: 481px) and (min-width: 479px) {
  #about-section {
    padding-top: 280px;
  }
  .header {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 602px) and (min-width: 600px) {
  #about-section {
    padding-top: 340px;
  }
  .header {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 642px) and (min-width: 640px) {
  #about-section {
    padding-top: 130px;
  }
  .header {
    padding-bottom: 0;
  }
  #hero-text {
    padding-top: 120px;
  }
}
@media screen and (max-width: 769px) and (min-width: 767px) {
  #about-section {
    padding-top: 330px;
  }
  .header {
    padding-bottom: 22px;
  }
}
@media screen and (max-width: 780px) and (min-width: 778px) {
  #about-section {
    margin-top: 150px;
  }
  .header {
    padding-bottom: 25px;
  }
}
.about-text {
    font: Helvetica;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    color: #04070F;
}


/* 24" 1920 x 1200*/
@media screen and (max-width: 1921px) and (min-width: 1919px) and (min-height: 1199px) {
  .header {
    padding-top: 15px;
  }
  #about-section {
    margin-top: 200px;
  }
}

/* 23" 1920 x 1080 */
@media screen and (max-width: 1921px) and (min-width: 1919px) and (min-height: 1079px) {
  .header {
    padding-bottom: 20px;
  }
  #about-section {
    margin-top: 150px;
  }
}

/* 22" 1680 x 1050 */
@media screen and (max-width: 1681px) and (min-width: 1679px) and (min-height: 1049px) {
  .header {
    padding-bottom: 18px;
  }
  #about-section {
    margin-top: 130px;
  }
}

/* 20" 1600 x 900 */
@media screen and (max-width: 1601px) and (min-width: 1599px) and (min-height: 899px) {
  .header {
    padding-bottom: 15px;
  }
  #about-section {
    margin-top: 80px;
  }
}

/* 19" 1440 x 900 */
@media screen and (max-width: 1441px) and (min-width: 1439px) and (min-height: 899px) {
  .header {
    padding-bottom: 10px;
  }
  #about-section {
    margin-top: 80px;
  }
}

/* 15" 1366 x 768 */
@media screen and (max-width: 1367px) and (min-width: 1364px) and (min-height: 767px) {
  #about-section {
    margin-top: 40px;
  }
}

/* 13" 1024 x 800 */
@media screen and (max-width: 1025px) and (min-width: 1023px) and (min-height: 799px) {
  #about-section {
    margin-top: 300px;
  }
  .header {
    padding-bottom: 40px;
  }
}

/* 10" 1024 x 600 */
@media screen and (max-width: 1025px) and (min-width: 1023px) and (min-height: 799px) {
  #about-section {
    margin-top: 120px;
  }
  .header {
    padding-bottom: 30px;
  }
}

/* Apple iPad pro 1366 x 1024 */
@media screen and (max-width: 1367px) and (min-width: 1365px) and (min-height: 1023px) {
  #about-section {
    margin-top: 110px;
  }
  .header {
    padding-bottom: 22px;
  }
}

/* Nexus 9 1024 x 768 */
@media screen and (max-width: 1025px) and (min-width: 1023px) and (min-height: 767px) {
  #about-section {
    margin-top: 20px;
  }
}

.about-text p {
    padding-top: 10px;
    text-align: center;
}


h2 {
    text-align: center;
}

#about-section, #portfolio-section {
    margin-left: 9%;
    margin-right: 9%;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 150px;
}

#portfolio-h2 {
  color: white;
  padding-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    text-align: center;
    color: white;
}

#portfolio-section a {
    text-decoration: none;
    color: white;
}

h4 {
    padding-bottom: 15px;
}

#portfolio-section {
  background: linear-gradient(to left, #04070F, #0A1624);
  padding-top: 10px;
}

@media (max-width: 575px) {
#portfolio-section .row {
  border: 1px solid white;
}
#portfolio-section .row {
  padding-bottom: 20px;
}
} 

#contact-section {
  text-align: center;
}

@media (max-width: 575px) {
  #contact-section {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  #contact-section h3 {
    padding-bottom: 15px;
  }
  #contact-section a:last-child {
    padding-bottom: 10px;
  }
}

#footer-menu {
  display: flex;
  justify-content: inline;
  width: 100%;
}

.left-footer {
  margin-left: 9%;
}

.right-footer {
  margin-left: 51.5%;
}

@media (max-width: 575px) {
  .right-footer {
    margin-left: 3%;
  }
}
.menu-bottom li {
  display: inline;
}

.menu-bottom li a {
  list-style-type: none;
  text-decoration: none;
  justify-content: right;
  font-size: 20px;
  color: #04070F;
}
.menu-bottom li a:hover {
   background-color: #0A1624;
   color: white; 
}

.img-div {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img {
  border-radius: 50%;
}
